

<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <title>Admin</title>
        <style>

body {font-family: 'Quicksand', sans-serif;}
.content{
    height:80%;
    width: 100%;
}
.tab {
  overflow: hidden;
  height:6vw;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  transition: 0.3s;
  font-size: 1.2vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  
}
        </style>
    </head>
    <body>
        

        <div class="tab">
            <button class="tablinks" onclick="displayContent(event, 'recharge')">Recharge</button>
            <button class="tablinks" onclick="displayContent(event, 'profitreport')">profitreport</button>
            <button class="tablinks" onclick="displayContent(event, 'fixedresult')">fixedresult</button>
            <div class="homebutton" style="text-align: right;"><a href="/" styles="font-size:40px">🏠</a></div>
          </div>
        <div class="tabcontent" id="recharge">
            <%- include('recharge'); -%>
        </div>
        <div class="tabcontent" id="profitreport">
            <%- include('profitreport'); -%>
        </div>
        <div class="tabcontent" id="fixedresult">
            <%- include('fixedresult'); -%>
        </div>
    </body>
    <script>
        async function displayContent(evt, cityName) {
            //fetch('http://localhost:9998/admin').then(console.log("get sent"));
            //console.log("get sent");
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            
        }
    </script>
</html>

