<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <title>Admin</title>
        <style>
            .fixresultstyle{
                width: 360px;
                margin: 0 auto;
                padding: 30px;
                box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
                border-radius: 10px;
                background: white;
            }
        </style>
    </head>
<body>

    
    <div class="fixresultstyle">
        <h2>Fix the Result</h2>
        <div id="countdown"></div>
        <div id="fixresultdiv"></div>
        <label>select slot
            <select id="slot1">
                <option></option>
                    <option value=0>1</option>
                    <option value=1>2</option>
                    <option value=2>3</option>
                    <option value=3>4</option>
                    <option value=4>5</option>
                    <option value=5>6</option>
                    <option value=6>7</option>
                    <option value=7>8</option>
                    <option value=8>9</option>
                    <option value=9>10</option>
                    <option value=10>11</option>
                    <option value=11>12</option>
            </select>
        <label>Reward
            <select id="slot2">
                <option></option>
                <option value=0>N</option>
                <option value=1>X2</option>
                <option value=2>X3</option>
            </select>
    <button id="fixresultbutton">Submit</button>

    </div>
    

</body>
<script>
const count = document.getElementById("countdown");
var client = "<%=useremail%>";
let ws = new WebSocket("ws://localhost:9999");
ws.onopen = () => ws.send(JSON.stringify({"method": "open", "clientID" : client}));
ws.onclose = () => ws.send(JSON.stringify({"clientID" : client}));

ws.onmessage = message => {
    const response = JSON.parse(message.data);
    if(response.method == "countdown"){
    let count = response.count;
    countdown.innerHTML = "Countdown : "+count;
  }
}

const fixbutton = document.getElementById("fixresultbutton");
const fixresultdiv = document.getElementById("fixresultdiv");
fixbutton.addEventListener('click', resultPost);
async function resultPost(){
    var e = document.getElementById("slot1");
    const slot1 = e.value;

    var f = document.getElementById("slot2");
    const slot2 = f.value;

    if(confirm("Please confirm")){
        try{
        const res = await fetch('/fixedresult',{
            method: 'POST',
            body: JSON.stringify({slot1, slot2}),
            headers: { 'content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        fixresultdiv.innerHTML = data.status;
        }
        catch(err){
            console.log(err);
        }
    }
}
// const form = document.querySelector("form");
// const status = document.querySelector('.recharge_status');
// form.addEventListener('submit', async (e) => {
//     e.preventDefault();

// })
</script>
</html>