

<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <title>login</title>
    </head>
    <body>
        <%- include('partials/header'); -%>
        <form>
            <h2>Forgot Password</h2>
            <div class="email status"></div>
            <label for="email">Email</label>
            <input type="text" name="email" required/>
            <div class="email error"></div>
            <button>Submit</button>
        </form>
    </body>
    <script>
        const form = document.querySelector("form");
        const emailError = document.querySelector('.email.error');
        const emailstatus = document.querySelector('.email.status');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //Reset error
            emailError.textContent = '';
            emailstatus.textContent = '';
            const email = form.email.value;

            try{
                const res = await fetch('/forgotpassword',{
                    method: 'POST',
                    body: JSON.stringify({ email}),
                    headers: { 'content-Type': 'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if(data.data){
                    emailstatus.textContent = data.data;
                }
                if(data.errors){
                    emailError.textContent = data.errors.email;
                }
                if(data.user){
                    location.assign('/')
                }

            }
            catch(err){
                console.log(err);
            }
        })
    </script>
</html>

