<%- include('partials/header'); -%>
<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <title>Home</title>
</head>
<header>
  <div class="smoothie">
  </div>
  <div class="headings">
    <h2></h2>
    <h3></h3>
    <!-- <a href="/" class="btn">View Recipes</a> -->
  </div>
</header>



<%- include('partials/footer'); -%>